@page
@model Frontend.Pages.CTorneo.CreateModel
@{
    ViewData["Title"]= "Crear Torneo";
}

<h2>Adicionar Torneo</h2>
<h3 class="text-danger">@ViewData["Error"]</h3>

<div class="form-horizontal">
    <hr/>
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="Torneo.Nombre" class="control-label"></label>
                    <input asp-for="Torneo.Nombre" class="form-control"/>
                    <span asp-validation-for="Torneo.Nombre" class="text-danger"></span>
                </div>

                 <div class="form-group">
                    <label asp-for="Torneo.Categoria" class="control-label"></label>
                    <input asp-for="Torneo.Categoria" class="form-control"/>
                    <span asp-validation-for="Torneo.Categoria" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Torneo.Modalidad" class="control-label"></label>
                    <input asp-for="Torneo.Modalidad" class="form-control"/>
                    <span asp-validation-for="Torneo.Modalidad" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Torneo.FechaInicio" class="control-label"></label>
                    <input asp-for="Torneo.FechaInicio" class="form-control"/>
                    <span asp-validation-for="Torneo.FechaInicio" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Torneo.FechaFin" class="control-label"></label>
                    <input asp-for="Torneo.FechaFin" class="form-control"/>
                    <span asp-validation-for="Torneo.FechaFin" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Torneo.Equipos" class="control-label"></label>
                    <input asp-for="Torneo.Equipos" class="form-control"/>
                    <span asp-validation-for="Torneo.Equipos" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Torneo.Fixture" class="control-label"></label>
                    <input asp-for="Torneo.Fixture" class="form-control"/>
                    <span asp-validation-for="Torneo.Fixture" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Torneo.MunicipioId" class="control-label"></label>
                    <select asp-for="Torneo.MunicipioId" class="form-control">
                        <option value="">--Seleccione un Municipio--</option>
                        @foreach (var mun in Model.Municipios)
                        {
                            <option value="@mun.Id">@mun.Nombre</option>                            
                        }

                    </select>
                    <span asp-validation-for="Torneo.MunicipioId" class="text-danger"></span>
                </div>                

                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-success" />
                    <a asp-page="Index" class="btn btn-info">Cancelar</a>
                </div>
            </form>
        </div>
    </div>    
</div>
@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}


