@page
@model Frontend.Pages.CMunicipio.DetailsModel
@{
    ViewData["Title"]= "Detalles Municipio";
}

<h2>Detalles Municipio</h2>

<div class="form-horizontal">
    <hr/>
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div class="form-group">
                    <label asp-for="Municipio.Id" class="control-label"></label>
                    <input asp-for="Municipio.Id" class="form-control" readonly />
                </div>

                <div class="form-group">
                    <label asp-for="Municipio.Nombre" class="control-label"></label>
                    <input asp-for="Municipio.Nombre" class="form-control" readonly  />
                </div>

                <div class="form-group">
                    <a asp-page="Index" class="btn btn-info">Inicio</a>
                </div>

            </form>
        </div>
    </div>
</div>
