@page
@model Frontend.Pages.CEquipo.CreateModel
@{
    ViewData["Title"]= "Crear Equipo";
}

<h2>Adicionar Equipo</h2>
<h3 class="text-danger">@ViewData["Error"]</h3>

<div class="form-horizontal">
    <hr/>
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="Equipo.Nombre" class="control-label"></label>
                    <input asp-for="Equipo.Nombre" class="form-control"/>
                    <span asp-validation-for="Equipo.Nombre" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Equipo.Modalidades" class="control-label"></label>
                    <input asp-for="Equipo.Modalidades" class="form-control"/>
                    <span asp-validation-for="Equipo.Modalidades" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Equipo.Jugadores" class="control-label"></label>
                    <input asp-for="Equipo.Jugadores" class="form-control"/>
                    <span asp-validation-for="Equipo.Jugadores" class="text-danger"></span>
                </div>                 

                <div class="form-group">
                    <label asp-for="Equipo.PatrocinadorId" class="control-label"></label>
                    <select asp-for="Equipo.PatrocinadorId" class="form-control">
                        <option value="">--Seleccione un Patrocinador--</option>
                        @foreach (var pat in Model.Patrocinadores)
                        {
                            <option value="@pat.Id">@pat.Nombres</option>                            
                        }

                    </select>
                    <span asp-validation-for="Equipo.PatrocinadorId" class="text-danger"></span>
                </div>                

                <div class="form-group">
                    <input type="submit" value="Crear" class="btn btn-success" />
                    <a asp-page="Index" class="btn btn-danger">Cancelar</a>
                </div>
            </form>
        </div>
    </div>    
</div>
